@page "/categorize"
@using Newtonsoft.Json
@using Spending.Api.Models
@inject HttpClient Http

<h1>Categorize</h1>

<UserDropDownComponent SetUserId="@SetUserId" />

@if (_transactions != null)
{
    <div>@_number</div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
            @foreach (var transaction in _transactions)
            {
                <tr>
                    <td>@transaction.Date</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.TransactionTypeId</td>
                    <td>@transaction.Description</td>
                    <td>
                        <CategoryDropDownComponent CategoryId="1" TransactionCategoryPatternId="@transaction.Id" SetCategoryId="@SetCategoryId" />
                        <input type="text" @bind="@transaction.Description">
                        <button type="button" @onclick="@(e => SaveTransactionCategory(transaction))">Save</button>
                    </td>
                </tr>
            }
        </table>
    </div>
}

@code {

    int _number;
    int _userIdSelected;
    IList<Transaction> _transactions = null;
    string apiRootUrl = "https://localhost:5003/api";

    async Task<IList<Transaction>> GetUncategorizedTransactions()
    {
        return await Http.GetJsonAsync<IList<Transaction>>($"{apiRootUrl}/transaction?userId={_userIdSelected}");
    }

    async Task SaveTransactionCategory(Transaction transaction)
    {
        var isSuccess = await Http.PostJsonAsync<bool>($"{apiRootUrl}/TransactionCategoryPattern?userId={_userIdSelected}",
            new Api.Models.TransactionCategoryPattern
            {
                CategoryId = transaction.CategoryId,
                Pattern = transaction.Description
            });

        if (isSuccess)
        {
            await LoadTransactionsAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await SetUserId(1);
    }

    async Task SetUserId(int userId)
    {
        _userIdSelected = userId;
        await LoadTransactionsAsync();
    }

    async Task LoadTransactionsAsync()
    {
        _transactions = await GetUncategorizedTransactions();
        _number = _transactions.Count;
    }

    private void SetCategoryId(Tuple<int, int> category)
    {
        var categoryId = category.Item1;
        var transactionId = category.Item2;

        var transaction = _transactions.FirstOrDefault(f => f.Id == transactionId);
        if (transaction != null)
        {
            transaction.CategoryId = categoryId;
        }
    }
}
